*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ramazan start*/

a {
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.left img {
    max-width: 100px;
    border-radius: 25px;
}

.middle {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-top: 50px;
    font-size: large;
}

.middle a:hover {
    transition: all 0.5s;
    font-size: x-large;
    font-weight: bold;
    color: rgb(207, 76, 40);
}

.right {
    display: flex;
    gap: 16px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    
    &  .btn1{
        background-color: rgb(207, 76, 40);
        color: aliceblue;
        border-radius: 10px;
        padding: 10px 25px;
}
&  .btn2{
    background-color: rgb(207, 76, 40);
    color: aliceblue;
    border-radius: 10px;
    padding: 10px 15px;
}
}

.giris {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 100px;
    margin-left: 100px;
}

.giris-yazi {
    margin-top: 40px;
}

.giris-yazi p {
    margin-bottom: 50px;
    margin-top: 50px;
    text-wrap: wrap;
    font-size: x-large;
}

.giris-yazi h1{
    font-size: 50px;

    & span {
        color: chocolate;
    }
}

.giris-yazi a {
    background-color: chocolate;
    color: rgb(254, 253, 253);
    font-weight: 500;
    font-size: xx-large;
    padding: 10px 20px;
    margin-top: 50px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.giris-yazi a:hover {
    transition: all 0.4s ease-in;
    font-size: xx-large;
    font-weight: 800;
    text-decoration: double;
} 

.giris-resim img{
    border-radius: 20px;
    max-width: 600px;
    height: 500px;
}

.giris2 {
    margin-top: 70px;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
}

.giris2 img {
    max-width: 700px;
    max-height: 500px;
    border-radius: 25px;
}

.giris2-yazi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px

} 

.giris2-yazi h1 {
    font-size: 50px;
    margin-bottom: 25px;
}

.giris2-yazi p {
    text-wrap: wrap;
    font-size: large;
    margin-bottom: 50px;
}

.giris2-yazi a {
    background-color: coral;
    padding: 15px 120px;
    border-radius: 15px;
    font-weight: 900;
    font-style: initial;
    font-size: large;
    color: beige;
}
/* ramazan finish */

.main-menu{
    width: 100%;
}
.containers {
    max-width: 1520px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    padding: 0 20px !important;
    }

.data-recipes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}

.recipies-box{
    padding: 30px;
}

.recipies-box img{
    max-width: 100%;
    height: 300px;
    object-fit: contain;
}