@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --first-fonts: 'Poppins',sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-menu{
    width: 100%;
}
.containers {
    max-width: 1520px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    padding: 0 20px !important;
    }

.data-recipes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}


.explore-box img{
    max-width: 100%;
}

.explore-title{
    font-family: var(--first-fonts);
    font-size:45px;
    font-weight: 500;
    margin: 20px 0;
}

.explore-grids{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}

.explore-subtitle{
    font-size: 20px;
    color: #000;
    font-family: var(--first-fonts);
}

.explore-rating{
    font-size: 16px;
    color: #000;
    font-family: var(--first-fonts);
    margin: 10px 0;
}
.explore-desc{
    font-size: 16px;
    color: #000;
    font-family: var(--first-fonts);
}

.recipies-email{
    width: 100%;
    padding: 50px 0;
    background-color: #fff0ed;
}


.emailhead{
    font-size: 48px;
    color: #000;
    font-family: var(--first-fonts);
    margin: 10px 0;
    text-align: center;
}

.emailtext{
    font-size: 36px;
    color: gray;
    font-family: var(--first-fonts);
    margin: 10px 0;
    font-weight: 300;
    text-align: center;
}